/**
  * COLORS BEING USED
  *
  * #FFFFFF
  * #E8E8E8
  * #292F36
  * #FF6B6B
  * #4ECDC4
  *
  **/

body {
  margin: 0;
  height: 100vh;
  color: #292F36;
  font-family: 'Inconsolata', monospace;
}

#main {
  height: 89%;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
  margin-bottom: 1vh;
}

#search-form {
  margin-top:1vh;
  height:17.8vh;
}

#search-field-wrap,
#buttons-wrap,
#search-form {
  width: 100%;
  text-align: center;
}

#search-field,
#submit-search-button,
#random-article-button,
.search-result {
  font-size:3.9vw;
}

#search-field {
  width:70%;
  max-width:500px;
  padding:3vh;

  color: #292F36;
  font-family: 'Inconsolata', monospace;

  border:1px solid #E8E8E8;
  box-sizing: border-box;
}

#buttons-wrap {
  display: flex;
  justify-content: center;
}

#submit-search-button,
#random-article-button {
  width: 35%;
  height:8vh;
  max-width:250px;
  border: none;
  cursor: pointer;

  color: #292F36;
  font-family: 'Inconsolata', monospace;

  display: block;
  float: left;
}

#submit-search-button {
  background-color: #4ECDC4;
}

  #submit-search-button:hover {
    border:2px solid #4ECDC4;
    box-sizing: border-box;
    background-color: #5DE2D7;
  }

#random-article-button {
  background-color: #FF6B6B;
  text-decoration: none;

  display:flex;
  align-items: center;
  justify-content: center;
}

  #random-article-button:hover {
    border: 2px solid #FF6B6B;
    box-sizing: border-box;
    background-color: #F97C7C;
  }

#search-result-info {
  max-width:70%;
  margin:auto;
  display:none;
}

.search-result-anchor-wrap {
  width:100%;
  align-self: flex-start;

  margin-top: 1.5vh;
  display:none;
}

.search-result {
  width:70%;
  max-width: 500px;
  display:flex;
  flex-direction: column;
  margin: 0 auto;

  background-color: rgba(232,232,232,0.4);
  color: #292F36;
  cursor: pointer;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding:1.5vh;
  text-decoration: none;
  font-size: 16px;
}

  .search-result:hover {
    background-color: rgba(232,232,232,0.7);
  }

.search-result-title {
  height:5vh;
}

.search-result-description {
  font-size: 13px;
}

#footer {
  height: 10%;
  font-size:11px;
  border-top: 1px solid #E8E8E8;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

/**
  * Media queries
  *
  **/
@media (min-width:576px) {
  #search-field,
  #submit-search-button,
  #random-article-button {
    font-size: 18px;
  }
}
